
.container {
    display: flex;
    flex-wrap: wrap;
  }
  

  .card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 200px; 
  }
  
  .card li {
    list-style: none;
    font-weight: bold;
  }
  
  .card button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .card button a {
    text-decoration: none;
    color: white;
  }
  
  .card button:hover {
    background-color: #2980b9;
  }
  
  .button-hover:hover {
    cursor: pointer;
  }