.people-details-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
  }
  
  .detail-item {
    margin-bottom: 10px;
  }
  
  .detail-item label {
    font-weight: bold;
  }
  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  