

.filmStyle {
    display: flex;
    flex-wrap: wrap;
  }
  
  .filmStyle div {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .filmStyle img {
    width: auto;
    height: 200px;
  }
  
  .filmStyle ul {
    list-style: none;
    padding: 0;
  }
  
  .filmStyle ul li {
    margin-bottom: 5px;
  }
  
  .filmStyle ul li a {
    color: blue;
    text-decoration: none;
  }
  
  .filmStyle ul li a:hover {
    text-decoration: underline;
  }
  .title-text {
    font-weight: bold;
    color: #05080a; /* Replace with the desired color, e.g., 'red', '#3498db', etc. */
  }
  

  .pagination-component {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-component .pagination-item {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-component .pagination-item.active {
    background-color: #3498db;
    color: white;
  }
  
  .pagination-component .pagination-item:hover {
    background-color: #e0e0e0;
  }
  